<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <h1 align="center">Vbos Volume Monitor</h1>
    <script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
</head>

<div class="body">
    <form class="form" action="/">
        <div class="form">
            <button class="btn btn-primary" type="submit" >MAIN PAGE</button>
        </div>
    </form>
</div><br>

<body>
    <table border="1" id="volume_info_table">
        <caption>Volume Info</caption>
        <tr>
            <th>Volume ID</th>
            <th>PV Name</th>
            <th>PVC Name</th>
            <th>Node</th>
            <th>Mounted By</th>
        </tr>
        <tr>
            <td>{{ volume_id }}</td>
            <td>{{ vbos_pv_info['name'] }}</td>
            <td>{{ vbos_pv_info['claim_ref']['name'] }}</td>
            <td id="node"></td>
            <td id="mounted_by"></td>
        </tr>
    </table><br>

    <h2>Volume Bench</h2>
    <div id="main1" style="height:500px;border:1px solid #ccc;padding:10px;"></div><br>
    <h2>Volume channel stat detail</h2>
    <pre id="div1"></pre>
    <script type="text/javascript">
    option1 = {
        title: {
            text: 'Volume Bench'
        },
        tooltip : {
            trigger: 'axis'
        },
        color: ['Red', 'Blue', 'Green', 'Yellow', 'SlateGray', 'Sienna', 'Purple', 'Salmon', 'Black', 'Turquoise'],
        legend: {
            data:['WriteIOPS', 'ReadIOPS'],
            selected: {}
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: 'WriteIOPS',
            type: 'line',
            data: []
        },
        {
            name: 'ReadIOPS',
            type: 'line',
            data: []
        }],
        dataZoom: [
        {
            id: 'dataZoomX',
            show: true,
            type: 'slider',
            xAxisIndex: [0],
            filterMode: 'none',
            start: 0,
            end: 100
        }]
    };
    myChart1.setOption(option1)

    var lastID = 0;

    var update_mychart = function (data) {
        myChart1.hideLoading();

        dataLength = data.c_time_list.length;
        lastID += dataLength;

        myChart1.setOption({
            xAxis: {
                data: data.c_time_list
            },
            series: [
                {
                    name: 'WriteIOPS',
                    data: data.w_iops_list,
                    markPoint : {
                            data : [
                                {type : 'max', name: 'Max Write IOPS'},
                                {type : 'min', name: 'Min Write IOPS'}
                            ]
                    },
                    markLine : {
                            data : [
                                {type : 'average', name: 'Average Write IOPS'}
                            ]
                    }
                },
                {
                    name: 'ReadIOPS',
                    data: data.r_iops_list,
                    markPoint : {
                            data : [
                                {type : 'max', name: 'Max Read IOPS'},
                                {type : 'min', name: 'Min Read IOPS'}
                            ]
                    },
                    markLine : {
                            data : [
                                {type : 'average', name: 'Average Read IOPS'}
                            ]
                    }
                }
            ]
        });

        if (dataLength == 0){clearInterval(timeTicket);}

        var channel_stat_detail = document.getElementById('div1');
        channel_stat_detail.innerHTML=data.channel_stat_detail;
    }

    myChart1.showLoading();

    var url = "{{ url_for('volume_stat') }}"

    $.get(url).done(update_mychart);

    var timeTicket = setInterval(function () {
        $.post(url,{id: lastID}).done(update_mychart);
    }, 3000);

    </script>
</body>
</html>